# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
.output/

# Environment variables
.env
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Astro
.astro/

# testing
/coverage

# production
/dist
/build

# misc
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts 